@model MVCTuinCentrumCore.Models.Plant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerkoopPrijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerkoopPrijs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevnrNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevnrNavigation.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoortNrNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoortNrNavigation.Naam)
        </dd>
        <dt class="col-sm-2">Afbeelding</dt>
        <dd class="col-sm-10">
            @await Component.InvokeAsync("Afbeelding", Model.PlantNr) 
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlantNr">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
