@model List<Plant>

<h2>@ViewBag.Title</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Soort</th>
            <th>Leverancier</th>
            <th>Kleur</th>
            <th>Prijs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Naam)</td>
            <td>@Html.DisplayFor(modelItem => item.SoortNrNavigation.Naam)</td>
            <td>@Html.DisplayFor(modelItem => item.LevnrNavigation.Naam)</td>
            <td>@Html.DisplayFor(modelItem => item.Kleur)</td>
            <td>@Html.DisplayFor(modelItem => item.VerkoopPrijs)</td>
        </tr>
        }
    </tbody>
</table>
